* {
  top: 0;
  bottom: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: #e12835;
  background-image: radial-gradient(#e12835 20%, #be2633 50%, rgba(0, 0, 0, 0.5) 100%);
  background-size: 120%;
  background-position: center;
  font-family: "Barlow Condensed", sans-serif;
  animation: tighten-vinette ease-out 1800ms forwards;
}

.images {
  pointer-events: none;
  height: 100vh;
  position: absolute;
  opacity: 0.6;
  z-index: 20;
  background-size: cover;
  background-position: center;
  background-repeat: none;
  background-image: url("https://static.comicvine.com/uploads/original/11124/111240517/4986890-4700382785-29908.jpg");
}
.wrapper {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo {
  cursor: pointer;
  text-align: center;
}
.logo:hover .restart {
  opacity: 0.8;
}
.restart {
  padding: 10px 20px;
  background-color: #fff;
  color: #e12835;
  font-size: 1.2rem;
  font-weight: bold;
  font-size: 30px;
  text-transform: uppercase;
  border-radius: 5px;
  text-align: center;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}

.restart:hover {
  background-color: #be2633;
  color: #fff;
  transform: scale(1.1);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.restart:active {
  transform: scale(0.95);
}

a{
  text-decoration: none;
}

.marvel, .studios {
  position: relative;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: -0.2rem;
  font-size: 5rem;
  margin: 0.05rem 0.05rem 0.5rem;
  padding: 0 0.4rem;
  display: inline-block;
}

.studios {
  font-weight: 500;
  letter-spacing: -0.3rem;
  transform: translateX(-95px);
}

.marvel {
  z-index: 10;
  font-weight: 800;
  transform: translateX(95px);
}
.marvel:before {
  z-index: -10;
  content: "";
  display: block;
  background-color: #e12835;
  border: solid rgba(255, 255, 255, 0.2) 1px;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.studios:after, .studios:before {
  content: "";
  display: block;
  height: 3px;
  position: absolute;
  background-color: #fff;
  display: block;
  left: 0.4rem;
  right: 0.4rem;
}

.studios:before {
  top: 0;
}
.studios:after {
  bottom: 0;
}

.wrapper.run-animation {
  animation: shrink ease-out 4800ms forwards 600ms;
}
.wrapper.run-animation .marvel {
  transform: translateX(95px);
  animation: slide-out-X 750ms ease forwards;
}
.wrapper.run-animation .studios {
  transform: translateX(-95px);
  color: transparent;
  animation: slide-out-X 750ms ease forwards, show-text 300ms linear forwards 1500ms;
}
.wrapper.run-animation .studios:before {
  transform: translateY(2.9rem);
  animation: slide-out-Y 300ms ease forwards 750ms;
}
.wrapper.run-animation .studios:after {
  transform: translateY(-2.9rem);
  animation: slide-out-Y 300ms ease forwards 750ms;
}
.wrapper.run-animation .restart {
  opacity: 0;
  animation: fade-down 1200ms ease 3600ms forwards;
}
.wrapper.run-animation ~ .images {
  animation: flicker-images 1500ms 2 steps(1, end), fade-out 4500ms forwards;
}

@keyframes slide-out-X {
  100% {
    transform: translateX(0);
  }
}
@keyframes slide-out-Y {
  100% {
    transform: translateY(0);
  }
}
@keyframes show-text {
  100% {
    color: #fff;
  }
}
@keyframes shrink {
  100% {
    transform: scale(0.8);
  }
}
@keyframes tighten-vinette {
  100% {
    background-size: 100%;
  }
}
@keyframes fade-down {
  0% {
    transform: translateY(-2rem);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 0.5;
  }
}
@keyframes fade-out {
  100% {
    height: 250vh;
    opacity: 0;
  }
}
@keyframes flicker-images {
  0% {
    height: 250vh;
    background-image: url("./img/book-heads-images/eslam mohamed.jpg");
  }
  10% {
    height: 250vh;
    background-image: url("./img/book-heads-images/ahmed shawky.jpg");
  }
  20% {
    height: 250vh;
    background-image: url("./img/book-heads-images/tasneem zahran.jpg");
  }
  30% {
    height: 250vh;
    background-image: url("./img/book-heads-images/Ziad ayman.jpg");
  }
  40% {
    height: 250vh;
    background-image: url("./img/book-heads-images/seif  darwish.jpg");
  }
  50% {
    height: 250vh;
    background-image: url("./img/book-heads-images/eslam mohamed.jpg");
  }
  60% {
    height: 250vh;
    background-image: url("./img/book-heads-images/ahmed shawky.jpg");
  }
  70% {
    height: 250vh;
    background-image: url("./img/book-heads-images/tasneem zahran.jpg");
  }
  80% {
    height: 250vh;
    background-image: url("./img/book-heads-images/Ziad ayman.jpg");
  }
  90% {
    height: 250vh;
    background-image: url("./img/book-heads-images/seif  darwish.jpg");
  }
  100% {
    height: 250vh;
    background-image: url("./img/book-heads-images/eslam mohamed.jpg");
  }
}/*# sourceMappingURL=test.css.map */
